.form{
    &__top{
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin-bottom: 10px;
    }

    &__btns{
        display: flex;
        justify-content: space-between;
        align-items: center;

        &__btn{
            width: 45%;
        }
    }
}