.task-card{
    width: 100%;
    box-shadow: 4px 4px 24px rgba(0,0,0,0.1);

    &__icon{
        font-size: 20px !important;
    }

    &__remove-icon{
        &:hover{
            color: red !important;
        }
    }
}