.task-container{
    display: flex;
    flex-direction: column;
    position: relative;
    max-width: 1056px;
    flex:1;

    &__title{
        margin: 20px auto 0;
    }

    &__create-btn{
        margin: 10px auto;
        max-width: 120px;
    }
}