.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    min-height: 100vh;
}

.light-switch__wrapper{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 25px;
    right: 25px;
    padding: 8px;
    border-radius: 100%;
    cursor: pointer;
    z-index: 3;
    background-color: rgba(gray, 0.4);
    
    &.light{
        background-color: rgba(goldenrod, 0.3);
    }
}

.light-switch{
    font-size: 20px;
    color: gray;
    
    &.light{
        color: goldenrod;
    }
}