.task-list{
    display: block;
    width: 100%;
    max-width: 320px;
    margin: 8px 16px;
}

.task-collapse{
    display: none;
    margin: 8px 16px;
    width: calc(100% - 32px);

    &__list{
        width: 100%;
    }
}

.task-list__wrapper{
    display: flex;
    flex:1;
    width: 100%;
    height: 100%;

    @media screen and (max-width:800px) {
        flex: unset;
    }
}

@media screen and (max-width: 800px) {
    .task-list{
        display: none;
    }

    .task-collapse{
        display: block;
    }
}